
<div class="name" >
  <div class="col-xs-6 school_name">
    <span id="school_keio" style="cursor:pointer;">Keio</span>
  </div>
  <div class="col-xs-6 school_name">
    <span id="school_waseda" style="cursor:pointer;">Waseda</span>
  </div>
</div>

<div class="gakubu">

    <div class="col-xs-3 gakubu_name">
      <span>政治経済学部</span>
    </div>
    <div class="col-xs-3 gakubu_name">
      <span>商学部</span>
    </div>
    <div class="col-xs-3 gakubu_name">
      <span>法学部</span>
    </div>
    <div class="col-xs-3 gakubu_name">
      <span>教育学部</span>
    </div>

  <!-- <div class="col-xs-6 gakubu_name">
    <span style="cursor:pointer;">国際教養学部</span>
  </div>
  <div class="col-xs-6 gakubu_name">
    <span style="cursor:pointer;">社会科学部</span>
  </div> -->
</div>

<!--
政治経済学部
商学部
法学部
教育学部
国際教養学部
社会科学部
文学部
文化構想学部
基幹理工学部
創造理工学部
先進理工学部
人間科学部
スポーツ科学部
-->

<%= javascript_include_tag 'create_user' %>
